@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-15">
            <div class="text-center">
                <h2 class="display-4 my-5">The Joke App</h2>
                <h1 class="tagline my-5">Laughter is the best medicine, <br />and we're the pharmacy!</h1>
            </div>
        </div>
    </div>
</div>
